<!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">
     <title>car</title>
   </head>
   <body>
     <h1>New car Page</h1>
  <form action="/cars" method="POST">
     <label for="name">Name</label>
      <input type="text" name="name" id="name"/>
      <br> 
      <label for="model">model</label>
      <input type="text" name="model" id="model"/>
      <br>
      <label for="year">year</label>
      <input type="text" name="year" id="year"/>
      <br>
      <label for="image">image</label>
      <input type="text" name="image" id="image"/>
      <br>
      <input type="submit" value="Create Car">
    
          <a href="/cars">Back</a>
    
   </form> 
   </body>
 </html>