<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/app.css">
    <meta charset="utf-8">
    <title>cars</title>
  </head>
  <body>
    <h1>cars show page</h1>

  <b><%=car.name; %> 
    <br> <%=car.model; %>
<br><%=car.year; %>
 <br>
<img src="<%=car.image; %>" alt="car">
</b>  
     <a href="/cars">Back</a>
  

  </body>
</html> 